<!-- Main content -->
<section class="header1 img_content body-content" id="header1-0">
    <img src="/img/banner_about_us.png" alt="Image Urban Café">
</section>
<section class="header1 main_content" id="header1-7">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="ubc-white col-md-10">
                <h1 class="ubc-section-title ubc-bold pb-3 ">Tâm huyết và niềm đam mê cháy bỏng với cà phê </h1>
                <h3 class="ubc-section-subtitle align-center ubc-light pb-3" style="text-transform: capitalize;">Cùng
                    nhau chia sẻ, cùng nhau phát triển!</h3>
                <p class="align-center pb-3 ">
                    Urban Café sẽ là nơi mọi người xích lại gần nhau, đề cao giá trị kết nối con người và sẻ chia thân
                    tình bên những tách cà phê, ly trà đượm hương, truyền cảm hứng về lối sống hiện đại.
                </p>
                <div class="ubc-section-btn align-center"><a class="btn btn-md btn-black-outline " href="#brand">
                        Liên hệ Urban Café</a></div>
            </div>
        </div>
    </div>
</section>
<!-- End Main content -->

<!-- Character -->
<section class="container py-3">
    <div class="row text-center pt-3 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Giá trị cốt lõi Urban Café</h1>
            <p>
                The Urban Coffee được xây dựng và phát triển dựa trên những nền tảng cốt lõi làm điểm tựa, kim chỉ nam
                cho mọi hoạt động. Qua đó, The Urban Coffee muốn tách mình nổi bật với các thương hiệu khác trên thị
                trường.

            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">CHÍNH TRỰC
                </h2>
                <div class="text-center px-3">Hành xử đúng đắn, công tâm, rõ ràng theo đúng bản chất sự thật.</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">TRÁCH NHIỆM
                </h2>
                <div class="text-center px-3">Làm việc với sự chân thành, tận tâm vì những quyền lợi của khách hàng.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">HIỆU QUẢ
                </h2>
                <div class="text-center px-3">Cam kết mang lại những kết quả với sự tối ưu hóa, chính xác và đúng thời
                    hạn.</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">ĐỔI MỚI
                </h2>
                <div class="text-center px-3">Khuyến khích, chào đón những thử thách, phát huy những khác biệt để thúc
                    đẩy sự đổi mới sáng tạo.</div>
            </div>
        </div>
    </div>
</section>
<!-- End Character -->

<!-- Carousel slide Admin-->

<div class="slider-admin">
    <div class="container text-center">
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-slider-admin">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-slider-admin" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-slider-admin" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-slider-admin" data-bs-slide-to="2"></li>
                <li data-bs-target="#carousel-slider-admin" data-bs-slide-to="3"></li>
                <li data-bs-target="#carousel-slider-admin" data-bs-slide-to="4"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="<%- members[0].img %>" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p>
                                <%- members[0].quotes %>
                            </p>
                        </div>
                        <div class="user_name ubc-bold pb-2 ">
                            <%- members[0].name %>
                        </div>
                        <div class="user_name ubc-bold pb-2 ">
                            <%- members[0].studentID %>
                        </div>
                        <div class="user_desk ubc-light ">
                            <%- members[0].role %>
                        </div>
                    </div>
                </div>
             <% for(var i = 1 ; i < members.length; i++ ) {  %>
                <div class="carousel-item ">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="<%- members[i].img %>" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="">
                                <%- members[i].quotes %>
                            </p>
                        </div>
                        <div class="user_name ubc-bold pb-2 ">
                            <%- members[i].name %>  
                        </div>
                        <div class="user_name ubc-bold pb-2 ">
                           <%- members[i].studentID %> 
                        </div>
                        <div class="user_desk ubc-light ">
                           <%- members[i].role %>  
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-bs-slide="prev" href="#carousel-slider-admin">
                    <span aria-hidden="true" class="fas fa-chevron-left" style="font-size: 1rem;"></span>
                </a>

                <a class="carousel-control-next" role="button" data-bs-slide="next" href="#carousel-slider-admin">
                    <span aria-hidden="true" class="fas fa-chevron-right" style="font-size: 1rem;"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Carousel slide Admin-->

<!-- Carousel slide Clients-->
<section class="bg-light py-1">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Đối tác của chúng tôi:
                </h1>
                <p>
                    Chúng tôi làm việc với những đối tác là các nhà cung cấp trên các vùng nguyên liệu khắp cả nước. Với
                    mục tiêu tạo dựng chuỗi giá trị nông sản Việt, chúng tôi hoàn toàn tin dùng các nguyên liệu chất
                    lượng cao có nguồn gốc trong nước.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col" id="brand">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand"
                            data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_05.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_06.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_07.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_08.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_09.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_10.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_11.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="/img/brand_12.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End  Carousel slide Clients-->

<!-- Form Contact us-->
<section class="ubc-section form1 mb-5" id="form1-4">

    <div class="container ubc-contactus-form" style="background-color: white;">
        <div class="row justify-content-center pt-4">
            <div class="title col-12 col-lg-8">
                <h2 class="ubc-section-title align-center pb-3 " id="contact">
                    LIÊN HỆ VỚI CHÚNG TÔI</h2>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Thanks for filling out the form!
                </div>

                <form class="ubc-form pb-5" action="" method="post" data-form-title="Mobirise Form"><input type="hidden"
                        data-form-email="true"
                        value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label " for="name-form1-4">Họ và tên</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required=""
                                    id="name-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label " for="email-form1-4">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email"
                                    required="" id="email-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label " for="phone-form1-4">Số điện thoại</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone"
                                    id="phone-form1-4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label " for="message-form1-4">Lời nhắn</label>
                        <textarea type="text" class="form-control" name="message" rows="7" style="height: 150px;"
                            data-form-field="Message " id="message-form1-4 "></textarea>
                    </div>
                    <div class="align-center pt-4 "><span class="input-group-btn "><button type="submit "
                                class="btn btn-form btn-black-outline "
                                onclick="alert('Cảm ơn đã liên lạc với chúng tôi')">Gửi thông tin</button></span></div>

                </form>
            </div>
        </div>
    </div>
</section>
<!--End Form Contact us-->

<script>
    $(document).ready(function () {
        $('#homepage').removeClass('active');
        $('#aboutus').addClass('active');
    }); 
</script>