<!-- Detail -->
<section style="margin-top: 130px">
    <div class="container pb-4 detail-product-shadow" style="background-color: #eef6f6; border-radius: 1%;">
        <div class="row ">
            <% if(drink !=null) { %>

                <div class="col-lg-5 pt-4">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="<%- drink.img %>" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                            data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 7">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 8">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/img/example_coffee.jpg"
                                                    alt="Product Image 9">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Third slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 d-flex align-items-center">
                    <div class="card ">
                        <div class="card-body">
                            <h2 class="align-center" style="font-weight: bolder;">--- <%- drink.name %> ---</h2>
                            <div class="py-2 align-center" style="font-weight: bold; font-size: 25px; color: #59ab6e;">
                                <%- drink.price %> VNĐ
                            </div>

                            <h6>Mô tả:</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum
                                convallis. Nunc sed orci a diam ultrices aliquet
                                interdum quis nulla.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Color :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>White / Black</strong></p>
                                </li>
                            </ul>


                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-group list-group-horizontal pb-3">
                                            <li class="list-group-item d-flex align-items-center">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-group-item">
                                                <button type="button"
                                                    class="btn btn-success btn-size list-group-item-action">Nhỏ
                                                    (S)</button>
                                            </li>
                                            <li class="list-group-item">
                                                <button type="button"
                                                    class="btn btn-success btn-size list-group-item-action">Vừa
                                                    (M)</button>
                                            </li>
                                            <li class="list-group-item">
                                                <button type="button"
                                                    class="btn btn-success btn-size list-group-item-action">Lớn
                                                    (L)</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-group list-group-horizontal pb-3">
                                            <li class="list-group-item d-flex align-items-center">
                                                Số lượng
                                                <input type="hidden" name="product-quanity" id="product-quanity"
                                                    value="1">
                                            </li>

                                            <li class="list-group-item"><button id="btn-minus" type="button"
                                                    class="btn btn-success btn-size list-group-item-action">-</button>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center"><span
                                                    class="badge bg-dark" id="var-value">1</span></li>
                                            <li class="list-group-item"><button id="btn-plus" type="button"
                                                    class="btn btn-success btn-size list-group-item-action">+</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/.Third slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 d-flex align-items-center">
                <div class="card ">
                    <div class="card-body px-4" style="border: 2px solid #122223;
                    ">
                        <h2 class="" style="font-weight: 700;"><%- drink.name %></h2>
                        <div class="py-2" style="font-weight: bold; font-size: 25px; color: #437b8b;">
                            <%- drink.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></div>
                        <hr>
                        <h6>Mô tả:</h6>
                        <p class="" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet
                            interdum quis nulla.</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Loại có sẵn:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Đá / Nóng</strong></p>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-auto">
                                <div class="list-group list-group-horizontal pb-3">
                                    <div class="m-auto" style="font-weight: 500;">Cỡ đồ uống:
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="addtocard">Add To Cart</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="row pb-3">
                            <div class="col d-grid">
                                <button type="submit" class="btn btn-success btn-lg p-2" name="submit" value="buy">Mua ngay</button>
                            </div>
                            <form class="col d-grid" action="/add-to-cart/<%- drink._id %>" method="get">
                                <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard" style="background-color: #30583a;">Thêm vào giỏ hàng</button>
                            </form>
                        </div>

                    </div>
                </div>
                <% }%>
        </div>
    </div>
</section>
<!-- End Detail -->

<!-- Related -->
<div class="wrapper py-5">
    <div class="container">
        <div class="row g-1">
            <% if(relatedDrink !='' ) { %>
                <% relatedDrink.forEach(function(drink, index) { %>
                    <div class="col-md-3">
                        <div class="card-related p-3">
                            <div class="text-center"> <img src="<%- drink.img %>" width="200"> </div>
                            <div class="product-details">
                                <span class="d-block align-center pt-2" style="font-weight: bold;">
                                    <%- drink.name %>
                                </span>
                                <span class="font-weight-bold d-block align-center pt-2" style="font-weight: bolder;">
                                    <%- drink.price %> VNĐ
                                </span>

                                <div class="buttons d-flex flex-row justify-content-center">
                                    <div class="cart"><i class="fa fa-shopping-cart d-flexalign-items-center"></i></div>
                                    <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Thêm
                                        vào
                                        giỏ</button>
                                </div>
                                <div class="weight"> <small>Hàng có sẵn</small> </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>


                            <!-- <div class="col-md-3">
                <div class="card-related p-3">
                    <div class="text-center"> <img src="/img/example_coffee.jpg" width="200"> </div>
                    <div class="product-details">
                        <span class="d-block align-center pt-2" style="font-weight: bold;">Đen đá không đường</span>
                        <span class="font-weight-bold d-block align-center pt-2"
                            style="font-weight: boldẻ;">25.000VNĐ</span>

                        <div class="buttons d-flex flex-row justify-content-center">
                            <div class="cart"><i class="fa fa-shopping-cart d-flex align-items-center"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Mua ngay</button>
                        </div>
                        <div class="weight"> <small>Hàng có sẵn</small> </div>
                    </div>
                </div>
            </div> -->
                            <!-- <div class="col-md-3">
                <div class="card-related p-3">
                    <div class="text-center"> <img src="/img/example_coffee.jpg" width="200"> </div>
                    <div class="product-details">
                        <span class="d-block align-center pt-2" style="font-weight: bold;">Đen đá không đường</span>
                        <span class="font-weight-bold d-block align-center pt-2"
                            style="font-weight: boldẻ;">25.000VNĐ</span>

                        <div class="buttons d-flex flex-row justify-content-center">
                            <div class="cart"><i class="fa fa-shopping-cart d-flexalign-items-center"></i></div>
                            <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Thêm vào
                                giỏ</button>
                        </div>
                        <div class="weight"> <small>Hàng có sẵn</small> </div>
                    </div>
                </div>
            </div> -->
                            <!-- <div class="col-md-3">
                <div class="card-related p-3">
                    <div class="text-center"> <img src="/img/example_coffee.jpg" width="200"> </div>
                    <div class="product-details">
                        <span class="d-block align-center pt-2" style="font-weight: bold;">Đen đá không đường</span>
                        <span class="font-weight-bold d-block align-center pt-2"
                            style="font-weight: boldẻ;">25.000VNĐ</span>

                        <div class="buttons d-flex flex-row justify-content-center">
                            <div class="cart"><i class="fa fa-shopping-cart d-flexalign-items-center"></i></div>
                            <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Thêm vào
                                giỏ</button>
                        </div>
                        <div class="weight"> <small>Hàng có sẵn</small> </div>
                    </div>
                </div>
            </div> -->
                            <!-- <div class="col-md-3">
                <div class="card-related p-3">
                    <div class="text-center"> <img src="/img/example_coffee.jpg" width="200"> </div>
                    <div class="product-details">
                        <span class="d-block align-center pt-2" style="font-weight: bold;">Đen đá không đường</span>
                        <span class="font-weight-bold d-block align-center pt-2"
                            style="font-weight: boldẻ;">25.000VNĐ</span>

                        <div class="buttons d-flex flex-row justify-content-center">
                            <div class="cart"><i class="fa fa-shopping-cart d-flexalign-items-center"></i></div>
                            <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Thêm vào
                                giỏ</button>
                        </div>
                        <div class="weight"> <small>Hàng có sẵn</small> </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Related -->