<!-- Slider -->
<div class="body-content">
    <div class="ubc-banner ubc-bg-banner">
        <div class="container-fluid container-lg position-relative">
            <div id="ubc-hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators ">
                    <li data-bs-target="#ubc-hero-carousel" data-bs-slide-to="0 " class="active"></li>
                    <li data-bs-target="#ubc-hero-carousel" data-bs-slide-to="1 "></li>
                    <li data-bs-target="#ubc-hero-carousel" data-bs-slide-to="2 "></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="carousel-item active ">

                        <img class="d-block w-100 ubc-banner__image" src="/img/banner1.png " alt="banner1">

                    </div>

                    <div class="carousel-item ">

                        <img class="d-block w-100 ubc-banner__image" src="/img/banner2.png " alt="banner2">

                    </div>

                    <div class="carousel-item ">

                        <img class="d-block w-100 ubc-banner__image" src="/img/banner3.png " alt="banner3">

                    </div>

                </div>
                <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#ubc-hero-carousel"
                    role="button" data-bs-slide="prev">
                    <i class="fas fa-chevron-left "></i>
                </a>
                <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#ubc-hero-carousel"
                    role="button" data-bs-slide="next">
                    <i class="fas fa-chevron-right "></i>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- End Slider -->


<!-- Menu order -->
<section class="container-lg container-fluid py-5">
    <div class="row text-center">
        <div class="col-lg-8 m-auto tilte-menu">
            <h4 class="h4"><b>Đem cả Urban Café về nhà</b></h4>
        </div>
    </div>


    <ul id="menu-list"
        class="nav nav-tabs card-header-tabs ubc-category-card-list ubc-category-card-list--spacing d-flex justify-content-md-center flex-xl-wrap flex-lg-wrap border-0 pt-3"
        data-bs-tabs="tabs">
        <li class="ml-2 ml-lg-3 mb-2 nav-item">
            <a class="nav-link nav-link-category m-0 border-0 active" href="#bestseller" aria-selected="true"
                data-bs-toggle="tab">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/best-seller.png" alt="">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Best-seller
                        </h5>
                    </div>
                </div>
            </a>
        </li>


        <li class="ml-2 ml-lg-3 mb-2 nav-item ">
            <a class="nav-link nav-link nav-link-category m-0 border-0" href="#coffeecup" data-bs-toggle="tab"
                aria-selected="true">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/coffee-cup.png" alt="">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Cà Phê
                        </h5>
                    </div>
                </div>

            </a>
        </li>


        <li class="ml-2 ml-lg-3 mb-2 nav-item ">
            <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#icefruittea" data-bs-toggle="tab"
                aria-selected="true">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/drink.png" alt="">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Trà trái cây
                        </h5>
                    </div>
                </div>

            </a>
        </li>

        <li class="ml-2 ml-lg-3 mb-2 nav-item ">
            <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#cake" data-bs-toggle="tab"
                aria-selected="true">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/cake.png" alt="cake">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Bánh
                        </h5>
                    </div>
                </div>

            </a>
        </li>

        <li class="ml-2 ml-lg-3 mb-2 nav-item ">
            <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#snacks" data-bs-toggle="tab"
                aria-selected="true">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/snacks.png" alt="">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Snacks
                        </h5>
                    </div>
                </div>

            </a>
        </li>

        <li class="ml-2 ml-lg-3 mb-2 nav-item ">
            <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#coffeebean" data-bs-toggle="tab"
                aria-selected="true">
                <div class="ubc-category-card d-flex flex-column">
                    <div
                        class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                        <img src="/img/coffee-bean.png" alt="">
                    </div>
                    <div class="ubc-category-card__content ">
                        <h5 class="ubc-category-card__title text-center mb-0">
                            Cà phê bột
                        </h5>
                    </div>
                </div>

            </a>
        </li>

        

    </ul>
    <div class="card-body tab-content">

        <div id="bestseller" class="tab-pane active">
            <div class="row mb-4 mb-lg-5">
                <% if(bestSeller !='' ) { %>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                        <a href="/drinks/<%= bestSeller._id %>" class="item-menu-order">
                            <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                    <img src="<%- bestSeller.img %>" alt="<%- bestSeller.name %>">
                                </div>
                                <div
                                    class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                    <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                        <h4 class="ubc-product-content__title mb-0 ">
                                            <%- bestSeller.name %>
                                        </h4>
                                    </div>
                                    <div
                                        class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                        <p class="mb-0 "><span class="d-block ">
                                                <%- bestSeller.price %> đ
                                            </span>
                                        </p>
                                        <a href="/add-to-cart/<%= bestSeller._id %>">
                                            <div data-toggle="modal " data-target="#cardModal "
                                                class="btn add-to-cart p-0 ">
                                                <img class="add-to-cart " src="/img/add.png" alt="add to cart ">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } else { %>
                        <p>No item found.</p>
                        <% } %>
            </div>
        </div>

        <div id="coffeecup" class="tab-pane">
            <div class="row mb-4 mb-lg-5">
                <% if(drinks !='' ) { %>
                    <% drinks.coffee.forEach(function(drink, index) { %>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                            <a href="/drinks/<%= drink._id %>" class="item-menu-order">
                                <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                    <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                        <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                    </div>
                                    <div
                                        class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                        <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                            <h4 class="ubc-product-content__title mb-0 ">
                                                <%- drink.name %>
                                            </h4>
                                        </div>
                                        <div
                                            class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                            <p class="mb-0 "><span class="d-block ">
                                                    <%- drink.price %> đ
                                                </span>
                                            </p>
                                            <a href="/add-to-cart/<%= drink._id %>">
                                                <div data-toggle="modal " data-target="#cardModal "
                                                    class="btn add-to-cart p-0 "><img class="add-to-cart "
                                                        src="/img/add.png" alt="add to cart "></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% } %>

            </div>
        </div>

        <div id="icefruittea" class="tab-pane">
            <div class="row mb-4 mb-lg-5">
                <% if(drinks !='' ) { %>
                    <% drinks.fruitTea.forEach(function(drink, index) { %>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                            <a href="/drinks/<%= drink._id %>" class="item-menu-order">
                                <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                    <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                        <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                    </div>
                                    <div
                                        class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                        <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                            <h4 class="ubc-product-content__title mb-0 ">
                                                <%- drink.name %>
                                            </h4>
                                        </div>
                                        <div
                                            class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                            <p class="mb-0 "><span class="d-block ">
                                                    <%- drink.price %> đ
                                                </span>
                                            </p>
                                            <a href="/add-to-cart/<%= drink._id %>">
                                                <div data-toggle="modal " data-target="#cardModal "
                                                    class="btn add-to-cart p-0 "><img class="add-to-cart "
                                                        src="/img/add.png" alt="add to cart "></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>

        <div id="coffeebean" class="tab-pane">
            <div class="row mb-4 mb-lg-5">
                <% if(drinks !='' ) { %>
                    <% drinks.coffeeBean.forEach(function(coffeeBean, index) { %>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                            <a href="/drinks/<%= coffeeBean._id %>" class="item-menu-order">
                                <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                    <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                        <img src="<%- coffeeBean.img %>" alt="<%- coffeeBean.name %>">
                                    </div>
                                    <div
                                        class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                        <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                            <h4 class="ubc-product-content__title mb-0 ">
                                                <%- coffeeBean.name %>
                                            </h4>
                                        </div>
                                        <div
                                            class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                            <p class="mb-0 "><span class="d-block ">
                                                    <%- coffeeBean.price %> đ
                                                </span>
                                            </p>
                                            <a href="/add-to-cart/<%= coffeeBean._id %>">
                                                <div data-toggle="modal " data-target="#cardModal "
                                                    class="btn add-to-cart p-0 "><img class="add-to-cart "
                                                        src="/img/add.png" alt="add to cart "></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>

        <div id="snacks" class="tab-pane">
            <div class="row mb-4 mb-lg-5">
                <% if(drinks !='' ) { %>
                    <% drinks.snacks.forEach(function(snacks, index) { %>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                            <a href="/drinks/<%= snacks._id %>" class="item-menu-order">
                                <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                    <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                        <img src="<%- snacks.img %>" alt="<%- snacks.name %>">
                                    </div>
                                    <div
                                        class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                        <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                            <h4 class="ubc-product-content__title mb-0 ">
                                                <%- snacks.name %>
                                            </h4>
                                        </div>
                                        <div
                                            class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                            <p class="mb-0 "><span class="d-block ">
                                                    <%- snacks.price %> đ
                                                </span>
                                            </p>
                                            <a href="/add-to-cart/<%= snacks._id %>">
                                                <div data-toggle="modal " data-target="#cardModal "
                                                    class="btn add-to-cart p-0 "><img class="add-to-cart "
                                                        src="/img/add.png" alt="add to cart "></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>

        <div id="cake" class="tab-pane">
            <div class="row mb-4 mb-lg-5">
                <% if(drinks !='' ) { %>
                    <% drinks.cake.forEach(function(cake, index) { %>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                            <a href="/drinks/<%= cake._id %>" class="item-menu-order">
                                <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                    <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                        <img src="<%- cake.img %>" alt="<%- cake.name %>">
                                    </div>
                                    <div
                                        class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                        <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                            <h4 class="ubc-product-content__title mb-0 ">
                                                <%- cake.name %>
                                            </h4>
                                        </div>
                                        <div
                                            class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                            <p class="mb-0 "><span class="d-block ">
                                                    <%- cake.price %> đ
                                                </span>
                                            </p>
                                            <a href="/add-to-cart/<%= cake._id %>">
                                                <div data-toggle="modal " data-target="#cardModal "
                                                    class="btn add-to-cart p-0 "><img class="add-to-cart "
                                                        src="/img/add.png" alt="add to cart "></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>
    </div>
</section>
<!-- End Menu order -->


<!-- News -->
<section class="ubc-box ubc-box--blog ">
    <div class="container-lg container-fluid ">
        <div class="ubc-box__header ubc-box__header-spacing ">
            <div class=" text-center ">
                <div class="col-lg-8 m-auto tilte-menu mb-3">
                    <h4 class="h4 "><b>Tin tức</b></h4>
                </div>
            </div>
        </div>

        <div class="row ">

            <% if (typeof newsArticles !== 'undefined' && newsArticles.length > 0) { %>
                <% newsArticles.forEach(function(article, index){ %>
                    <div class="col-12 col-sm-6 col-lg-4 mb-4 ">
                        <div class="ubc-blog-card d-flex flex-column ">
                            <a href="detail-news" target="blank ">
                                <div class="ubc-blog-card__image "
                                    style="background: url(&quot;https://feed.thecoffeehouse.com//content/images/2021/08/img_8089_grande-1.jpg&quot;) center center no-repeat; ">
                                </div>
                            </a>
                            <div class="ubc-blog-card__content d-flex flex-column ">
                                <div class="ubc-blog-card__content__header d-flex flex-column ">
                                    <h5 class="ubc-blog-card__title ">
                                        <%= article.title %>
                                    </h5>
                                </div>
                                <div class="mt-auto "><button
                                        class=" d-inline-block btn btn--blue align-items-center btn--radius-100 float-right "><a
                                            href="detail-news" class=" "><span class="text ">ĐỌC TIẾP</span></a></button></div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else {%>
                <p>No articles found >:( </p>
            <% } %>

        </div>
        <div class="d-flex justify-content-center ">
            <a href="/news" class=" ">
                <a href="javascript:void(0) " class="product-redirect-link text-center ">
                    <span>Xem tất cả</span>
                    <span class="ml-5 "><i aria-hidden="true " class="fa fa-arrow-right "></i>
                    </span>
                </a>
            </a>
        </div>

    </div>
</section>
<!-- End News -->