<!-- My cart -->
<div class=" text-center body-content">
    <div class="col-lg-8 m-auto" style="padding-top: 20px;">
        <h4 class="m-auto tilte-menu"><b>Giỏ hàng</b></h4>
    </div>
</div>
<ul class="pb-5 d-flex pt-3">
    <div class="product-details col-lg-8 pb-3 ubc-product-card--shadow m-auto"
        style="background-color: white; border-radius: 20px;">
        <div class="d-flex justify-content-between px-5 pt-3" style=" font-weight: 500;"><span>Bạn đã đặt <b class="text-light bg-dark px-2" style="font-weight: bold;">
            <% if(typeof products !== "undefined" ) { %>
                <%- totalQty %></b> loại sản phẩm
            <% } else { %>
                    0</b> loại sản phẩm
            <% } %>
        </span>
            <div class="d-flex flex-row align-items-center">
                <h6 class="text-black-100">Sắp xếp theo: &nbsp</h6>
                <select class="form-select" aria-label="Default select example" style="width: fit-content; border: 2px solid #122223; font-weight: 500;">
                    <option value="1">Tên</option>
                    <option selected value="2">Giá</option>
                    <option value="3">Số lượng</option>
                  </select>
            </div>
        </div>
        <hr class="mx-3">
        <div style="overflow: auto; max-height: 400px; width: 100%;">
            <% if (typeof products !== "undefined") { %>
                <% products.forEach(function(product){ %> 
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 mx-4 items rounded">
                        <div class="d-flex flex-row"><img class="rounded" src="<%- product.item.img %>" width="40">
                            <div class="ms-3">
                                <h6 class="long-text" title="<%- product.item.name %>" ><%- product.item.name %></h6>
                                <div class="spec">Vừa (L), Đá</div>
                            </div>
                        </div>
                        <div class="d-flex flex-row" style="font-weight: 600;">x<%- product.qty %></div>
                        <div class="d-flex flex-row align-items-center" style="font-weight: 500;"><span class="d-block"
                                style="padding-right: 20px;"><%= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %>
                            </span>&Tab;
                                <form action="/delete-cart" method="POST">
                                    <input type="hidden" name="prodID" value="<%- product.item._id %>">
                                    <button type="submit" style="background: transparent; border: none;"><i class="far fa-trash-alt text-black-50" style="padding-right: 10px;"></i></button>
                                </form>
                        </div>
                    </div>
            <%  })} %> 
            <% if(totalQty == 0) { %>
                <p style="text-align: center;">Không tìm thấy sản phẩm trong giỏ hàng</p>
            <% } %>  
        </div>

        <hr class="mx-3">
        <div class="d-flex justify-content-between align-items-center mt-3 mx-5 rounded">
            <h5 style="font-weight: 600;"> Tổng tiền:</h5>
            <h5 class="d-flex flex-row" style="font-weight: 600;">
                <% if(typeof products !== "undefined" ) { %>
                    <%- totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %>
                <% } else { %>
                        0
                <% }%>
            </h5>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 mx-5 rounded">
            <h5 style="font-weight: 500; color: coral;"> Điểm thưởng:</h5>
            <h5 class="d-flex flex-row" style="font-weight: 600;color: coral;">
                <% if(typeof products !== "undefined" ) { %>
                    <%- totalPrice / 1000 %> điểm
                <% } else { %>
                        0 điểm
                <% }%>
            </h5>
        </div>
        <% if( totalQty != 0 ) { %>
            <div class="align-center">
                <a href="/payment" class="btn btn-detail-order " data-abc="true"> Thanh toán <i
                        class="fa fa-chevron-right"></i> </a>
            </div>
        <% } %>
        <!-- <div class="align-center">
            <a href="/payment" class="btn btn-detail-order " data-abc="true"> Thanh toán <i
                    class="fa fa-chevron-right"></i> </a>
        </div> -->
    </div>
</ul>
<!-- End My cart -->
<script>
    $(document).ready(function () {
        $('#homepage').removeClass('active');
    }); 
</script>

