<section class="container-lg container-fluid py-5" style="margin-top: 80px; ">
    <div class="row text-center">
        <div class="col-lg-8 m-auto">
            <h4 class="h4"><b>Đem cả Urban Café về nhà</b></h4>

        </div>
    </div>
<!-- Menu order -->
<ul id="menu-list"
    class="nav nav-tabs card-header-tabs ubc-category-card-list ubc-category-card-list--spacing d-flex justify-content-md-center flex-xl-wrap flex-lg-wrap border-0 pt-3"
    data-bs-tabs="tabs">
    <li class="ml-2 ml-lg-3 mb-2 nav-item">
        <a class="nav-link nav-link-category m-0 border-0 active" href="#bestseller" aria-selected="true"
            data-bs-toggle="tab">
            <div class="ubc-category-card d-flex flex-column">
                <div
                    class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                    <img src="/img/best-seller.png" alt="">
                </div>
                <div class="ubc-category-card__content ">
                    <h5 class="ubc-category-card__title text-center mb-0">
                        Best-seller
                    </h5>
                </div>
            </div>
        </a>
    </li>


    <li class="ml-2 ml-lg-3 mb-2 nav-item ">
        <a class="nav-link nav-link nav-link-category m-0 border-0" href="#coffeecup" data-bs-toggle="tab"
            aria-selected="true">
            <div class="ubc-category-card d-flex flex-column">
                <div
                    class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                    <img src="/img/coffee-cup.png" alt="">
                </div>
                <div class="ubc-category-card__content ">
                    <h5 class="ubc-category-card__title text-center mb-0">
                        Cà Phê
                    </h5>
                </div>
            </div>

        </a>
    </li>


    <li class="ml-2 ml-lg-3 mb-2 nav-item ">
        <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#icefruittea" data-bs-toggle="tab"
            aria-selected="true">
            <div class="ubc-category-card d-flex flex-column">
                <div
                    class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                    <img src="/img/drink.png" alt="">
                </div>
                <div class="ubc-category-card__content ">
                    <h5 class="ubc-category-card__title text-center mb-0">
                        Trà trái cây
                    </h5>
                </div>
            </div>

        </a>
    </li>

    <li class="ml-2 ml-lg-3 mb-2 nav-item ">
        <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#coffeebean" data-bs-toggle="tab"
            aria-selected="true">
            <div class="ubc-category-card d-flex flex-column">
                <div
                    class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                    <img src="/img/coffee-bean.png" alt="">
                </div>
                <div class="ubc-category-card__content ">
                    <h5 class="ubc-category-card__title text-center mb-0">
                        Cà phê bột
                    </h5>
                </div>
            </div>

        </a>
    </li>

    <li class="ml-2 ml-lg-3 mb-2 nav-item ">
        <a class="nav-link nav-link nav-link-category m-0 border-0 " href="#cakeandsnack" data-bs-toggle="tab"
            aria-selected="true">
            <div class="ubc-category-card d-flex flex-column">
                <div
                    class="d-flex justify-content-center align-items-center ubc-category-card__image ubc-category-card--circle ">
                    <img src="/img/snacks.png" alt="">
                </div>
                <div class="ubc-category-card__content ">
                    <h5 class="ubc-category-card__title text-center mb-0">
                        Bánh - Snacks
                    </h5>
                </div>
            </div>

        </a>
    </li>

</ul>
<div class="card-body tab-content">

    <div id="bestseller" class="tab-pane active">
        <div class="row mb-4 mb-lg-5">
            <% if(bestSeller !='' ) { %>
                <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                    <a href="/drinks/<%= bestSeller._id %>">
                        <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                            <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                <img src="<%- bestSeller.img %>" alt="<%- bestSeller.name %>">
                            </div>
                            <div class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                    <h4 class="ubc-product-content__title mb-0 ">
                                        <%- bestSeller.name %>
                                    </h4>
                                </div>
                                <div
                                    class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                    <p class="mb-0 "><span class="d-block ">
                                            <%- bestSeller.price %> đ
                                        </span>
                                    </p>
                                    <div data-toggle="modal " data-target="#cardModal " class="btn add-to-cart p-0 ">
                                        <img class="add-to-cart " src="/img/add.png" alt="add to cart "></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% } else { %>
                    <p>No item found.</p>
                    <% } %>
        </div>
    </div>

    <div id="coffeecup" class="tab-pane">
        <div class="row mb-4 mb-lg-5">
            <% if(drinks !='' ) { %>
                <% drinks.coffee.forEach(function(drink, index) { %>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                        <a href="/drinks/<%= drink._id %>">
                            <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                    <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                </div>
                                <div
                                    class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                    <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                        <h4 class="ubc-product-content__title mb-0 ">
                                            <%- drink.name %>
                                        </h4>
                                    </div>
                                    <div
                                        class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                        <p class="mb-0 "><span class="d-block ">
                                                <%- drink.price %> đ
                                            </span>
                                        </p>
                                        <div data-toggle="modal " data-target="#cardModal "
                                            class="btn add-to-cart p-0 "><img class="add-to-cart " src="/img/add.png"
                                                alt="add to cart "></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                        <% } %>

        </div>
    </div>

    <div id="icefruittea" class="tab-pane">
        <div class="row mb-4 mb-lg-5">
            <% if(drinks !='' ) { %>
                <% drinks.fruitTea.forEach(function(drink, index) { %>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                        <a href="/drinks/<%= drink._id %>">
                            <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                    <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                </div>
                                <div
                                    class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                    <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                        <h4 class="ubc-product-content__title mb-0 ">
                                            <%- drink.name %>
                                        </h4>
                                    </div>
                                    <div
                                        class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                        <p class="mb-0 "><span class="d-block ">
                                                <%- drink.price %> đ
                                            </span>
                                        </p>
                                        <div data-toggle="modal " data-target="#cardModal "
                                            class="btn add-to-cart p-0 "><img class="add-to-cart " src="/img/add.png"
                                                alt="add to cart "></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>

    <div id="coffeebean" class="tab-pane">
        <div class="row mb-4 mb-lg-5">
            <% if(drinks !='' ) { %>
                <% drinks.coffeeBean.forEach(function(drink, index) { %>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                        <a href="/drinks/<%= drink._id %>">
                            <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                    <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                </div>
                                <div
                                    class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                    <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                        <h4 class="ubc-product-content__title mb-0 ">
                                            <%- drink.name %>
                                        </h4>
                                    </div>
                                    <div
                                        class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                        <p class="mb-0 "><span class="d-block ">
                                                <%- drink.price %> đ
                                            </span>
                                        </p>
                                        <div data-toggle="modal " data-target="#cardModal "
                                            class="btn add-to-cart p-0 "><img class="add-to-cart " src="/img/add.png"
                                                alt="add to cart "></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>

    <div id="cakeandsnack" class="tab-pane">
        <div class="row mb-4 mb-lg-5">
            <% if(drinks !='' ) { %>
                <% drinks.cakeAndSnack.forEach(function(drink, index) { %>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3 ">
                        <a href="/drinks/<%= drink._id %>">
                            <div class="ubc-product__card d-flex flex-lg-column ml-0 ">
                                <div class="ubc-product__image ubc-product--lg__image ubc-product-img-border ">
                                    <img src="<%- drink.img %>" alt="<%- drink.name %>">
                                </div>
                                <div
                                    class="ubc-product__content ubc-product__content--mobile-padding d-flex flex-column ">
                                    <div class="ubc-product__content__top mb-1 mb-lg-3 ">
                                        <h4 class="ubc-product-content__title mb-0 ">
                                            <%- drink.name %>
                                        </h4>
                                    </div>
                                    <div
                                        class="ubc-product__content__footer d-flex justify-content-between align-items-center mt-auto ">
                                        <p class="mb-0 "><span class="d-block ">
                                                <%- drink.price %> đ
                                            </span>
                                        </p>
                                        <div data-toggle="modal " data-target="#cardModal "
                                            class="btn add-to-cart p-0 "><img class="add-to-cart " src="/img/add.png"
                                                alt="add to cart "></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>
</div>
</section>
<!-- End Menu order -->
<script>
    $(document).ready(function () {
        $('#homepage').removeClass('active');
        $('#order').addClass('active');
    }); 
</script>